{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Welcome</h1>
  <p>Sign in to access your account and view family photos.</p>
</div>

<div class="row">
<div class="text-center">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-default" type="submit">Login</button>
  </form>
  <br><br><br><br><br>
  <a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
</div><!-- .col -->
</div><!-- .row -->
{% endblock %}
