{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Check Your E-mail</h1>
  <p>We've sent you a secure link to reset your password.</p>
  <br>

  <p>If you don't receive the e-mail within a few minutes, please:</p>
  <p class="text-success">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Check your spam folder.
  </p>
  <p class="text-success">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Make sure you spelled your e-mail address correctly.
  </p>
  <p class="text-success">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Make sure it's the same e-mail you used to register your account.
  </p>
  <br><br>

  <a href="{% url 'main:home' %}">Back to Site</a>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    Having trouble? E-mail <a href="mailto:aspen.hollyer@gmail.com">aspen.hollyer@gmail.com</a> for help.
  </div><!-- .col -->
</div><!-- .row -->
{% endblock %}
