{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Forgot Password</h1>
  <p>Enter the e-mail you used to sign up, and we'll send you instructions to reset your password.</p>
</div>

<div class="row">
<div class="text-center">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-default" type="submit">Send Password Reset Link</button>
  </form>
</div><!-- .col -->
</div><!-- .row -->
{% endblock %}
