{% load static %}

{% if post.comments %}
  {% for comment in post.comments.all %}
  <div class="col-xs-2 col-xs-offset-1 col-md-1">
    {% if comment.user.userprofile.image %}
    <a href="{% url 'accounts:view_profile_pk' pk=comment.user.pk %}">
      <img src="{{ comment.user.userprofile.image.url }}" alt="profile pic'" height="80px">
    </a>
    {% else %}
      <img src="{% static 'img/default-profile.png' %}" alt="default profile pic" height="80px">
    {% endif %}
  </div>
  <div class="col-xs-7">
    <span class="lead serif">{{ comment.user.first_name }}:</span>
    <p>
      {{ comment.text }}
      <br>
      <span class="small">{{ comment.updated }}</span>
    </p>
    <br>
  </div>
  <div class="clearfix"></div>
{% endfor %}
{% else %}
  {% for comment in photo.comments.all %}
  <div class="col-xs-2 col-xs-offset-1 col-md-1">
    {% if comment.user.userprofile.image %}
    <a href="{% url 'accounts:view_profile_pk' pk=comment.user.pk %}">
      <img src="{{ comment.user.userprofile.image.url }}" alt="profile pic'" height="80px">
    </a>
    {% else %}
    <img src="{% static 'img/default-profile.png' %}" alt="default profile pic" height="80px">
    {% endif %}
  </div>
  <div class="col-xs-7">
    <span class="lead serif">{{ comment.user.first_name }}:</span>
    <p>
      {{ comment.text }}
      <br>
      <span class="small">{{ comment.updated }}</span>
    </p>
    <br>
  </div>
  <div class="clearfix"></div>
  {% endfor %}
{% endif %}
