{% extends 'base.html' %}
{% block content %}
{% load static %}

	<div class="container-fluid">
		<div class="row about">
      <div class="col-xs-12">
        <img src="{% static 'img/family_banner.png'%}" class="img-responsive center-block">
      </div>
      <!-- .col -->
			<div class="col-xs-12 col-md-10 col-md-offset-1">
        <h3>This summer, experience everything that makes our family awesome. We don't know if this much greatness can fit in one place, but we're going to try.<br><br>
        Join us July 22nd at Lake Thunderbird's <a href="http://calypsocovemarina.com/" target="_blank">Calypso Cove Marina</a> for fellowship, food, and fun. <a href="{% url 'accounts:register' %}">RSVP here</a>.</h3><br><br>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
        <h1><span id="one" class="fades">The family.</span><span id="two" class="fades"> The legend.</span><span id="three" class="fades"> The legendary family.</span></h1>
			</div>
			<!-- .col -->
		</div>
		<!-- .row -->

		<!-- FUTURE SOCIAL MEDIA LINKS -->
		<!-- <a name="contact"></a>
		<div class="row contact">
			<div class="col-xs-12">
				<h2 class="text-center">#legendary-fam</h2>
			</div>
			<div class="col-xs-12 text-center">
				<ul id="contacts" class="list-unstyled">
					<li><a href="" target="blank"><i class="fa fa-youtube fa-2x"></i></a></li>
					<li><a href="" target="blank"><i class="fa fa-instagram fa-2x"></i></a></li>
					<li><a href="" target="blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
					<li><a href="" target="blank"><i class="fa fa-twitter fa-2x"></i></a></li>
					<li><a href="mailto:aspen.hollyer@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a></li>
				</ul>
				<br>
				<p class="small"></p>
			</div>
		</div> -->

	</div>
	<!-- .container -->
{% endblock %}
