{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="jumbotron text-center">
  <h1>{{ user.first_name }}'s News Feed</h1>
  <p>See posts from family members.</p>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h2 class="text-center">Recent Conversations</h2>
      <form method="POST">
        {% csrf_token %}
        {{ postform.post }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit" name="form" value="post-form">Submit Post</button>
        <a href="{% url 'main:main' %}">
          <button class="btn btn-lg btn-danger">Cancel</button>
        </a>
      </form>
      <br><br>
    </div><!-- .col -->
		{% for post in posts %}
  		<div class="col-xs-3 col-md-1 col-md-offset-1 posts">
        {% if post.user.userprofile.image %}
        <a href="{% url 'accounts:view_profile_pk' pk=post.user.pk %}">
  			  <img class="img-responsive" src="{{ post.user.userprofile.image.url }}" alt="{{ post.user.first_name }}'s profile pic'">
        </a>
        {% endif %}
  		</div>
  		<div class="col-xs-7 col-md-10 posts">
        <a href="{% url 'main:post_detail' pk=post.pk %}">
          <h3 class="serif" style="margin-top: 0">{{ post.post|truncatewords:15 }}</h3>
        </a>
  			<p>Posted by {{ post.user.get_full_name }} on {{ post.created }}</p>
        <p class="small">
          <a href="{% url 'main:post_detail' pk=post.pk %}">
            <button class="btn btn-sm btn-default">View/Add Comments ({{ post.comments.count }})</button>
          </a>

          <form method="POST">
            {% csrf_token %}
            {{ likeform.like }}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button class="btn btn-sm btn-default" type="submit" name="form" value="like-form"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like ({{ post.likes.count }})</button>
          </form>
        </p><br>
  	  </div><!-- .col -->
      <div class="clearfix"></div>
    {% endfor %}
  </div><!-- .col -->
  <div class="col-md-2 col-md-offset-1">
    <h2 class="text-center">Family</h2>
    <ul class="list-group">
      {% for user in users %}
        <a href="{% url 'accounts:view_profile_pk' pk=user.pk %}">
          <li class="list-group-item">
            {% if user.userprofile %}
              {% if user.userprofile.image %}
                <img src="{{ user.userprofile.image.url }}" alt="" height="50">
              {% endif %}
            {% endif %}
            {{ user.get_full_name }}
          </li>
        </a>
      {% endfor %}
    </ul>
  </div><!-- .col -->
</div><!-- .row -->

{% endblock %}
