{% extends 'base.html' %}
{% block title %}Family Photos{% endblock %}
{% block content %}
{% load static %}

<div class="row jumbotron">
  <div class="col-xs-12 col-md-6 col-md-offset-1 text-center">
    <a href="{{ photo.image.url }}" target="_blank">
      <img class="img-responsive" src="{{ photo.image.url }}" alt="{{ photo.description }}">
    </a>
    </div>

  <div class="col-xs-12 col-md-4">
    <p class="tiny">
      Uploaded by <a href="{% url 'accounts:view_profile_pk' pk=photo.user.pk %}">{{ photo.user.first_name }}</a> on {{ photo.uploaded }}
    </p>
    <p class="tiny">
      <strong>Date Taken:</strong>
      {% if photo.date_taken %}
      {{ photo.date_taken }}
      {% else %}
      <em>unknown</em> (add date)
      {% endif %}
      <br>
      <strong>Location:</strong>
      {% if photo.location %}
      {{ photo.location }}.
      {% else %}
      <em>unknown</em> (add location)
      {% endif %}
    </p>
    {% if photo.description %}
      <p>
        <strong>Description:</strong> {{ photo.description }}
      </p>
    {% else %}
    <p><em>This photo has no description yet.</em> <a href="{% url 'main:edit_photo' photo.id %}">(Add one!)</a></p>
    {% endif %}
    <strong>Who's in this photo?</strong>
        <ul class="tiny">
        {% if photo.tagz.all.count %}
          {% for tag in photo.tagz.all %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <br><br>

    <a href="{% url 'main:edit_photo' photo.id %}">
      <button class="btn btn-default">
        Add/Edit Photo Information
      </button>
    </a>
  </div>
</div><!-- .row -->

    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3>Comments:</h3>
    </div>
    <div class="clearfix"></div>
    {% include 'main/comments.html' with all_comments=photo.all_comments %}

    <!-- Comment Form -->
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <br>
      <form action="./" method="POST">
        {% csrf_token %}
        {{ form.text }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Add Comment</button>
        <a href="{% url 'main:main' %}">
          <button class="btn btn-lg btn-danger">Cancel</button>
        </a>
      </form>
      <br><br>
    </div>

    <div class="col-xs-12">
      <p class="text-center">
        <a href="{% url 'main:edit_photo' photo.id %}">Add/Edit Information for This Photo</a> | <a href="{% url 'main:photos' %}">Back to Family Archive</a>
      </p>
    </div>
  </div><!-- .col -->
</div><!-- .row -->
{% endblock %}
